@font-face {
    font-family:"Zombie Holocaust";
    src:url("/src/styles/images/Zombie_Holocaust.eot") format("eot"),
        url("/src/styles/images/Zombie_Holocaust.woff") format("woff"),
        url("/src/styles/images/Zombie_Holocaust.ttf") format("truetype"),
        url("/src/styles/images/Zombie_Holocaust.svg") format("svg");
        font-weight:normal;
        font-style:normal;
        font-stretch: expanded;
    }

    body {
        background-image: url("./images/TWD-background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

.header {
    height: 300px;
    text-align: center;
    padding-bottom: 20px;
}

.header h1 {
    padding-top: 35px;
    font-size: 72px;
    font-family: "Zombie Holocaust";
    color: 	rgb(153, 38, 23);
    text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

.header p {
    font-size: 30px;
    font-family: "ITC Franklin Gothic", cursive;
    color: 	rgb(153, 38, 23);
    text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

@media all and (max-width: 800px) { 
 
    .header h1 {
        padding-top: -40px;
        font-size: 60px; 
    }
    .header p {
        font-size: 24px;
    }
}

@media all and (max-width: 650px) { 

    .header h1 {
        font-size: 48px;
    }
    .header p {
        font-size: 20px;
    }
}